# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  NPM_CONFIG_FUND: '0'
  NPM_CONFIG_AUDIT: '0'
  SUPPRESS_SUPPORT: '1'
  NO_UPDATE_NOTIFIER: 'true'

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 'current'
          - 'lts/*'
          - 'lts/-1'
        knex:
          - '^1.0.0'
          - '^2.0.0'
          - '^3.0.1'
    name: Build and test (Node ${{ matrix.node }}, knex ${{ matrix.knex }})
    steps:
      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install knex
        run: npm i -D knex@${{ matrix.knex }}

      - name: Install @vscode/sqlite3
        run: |
          npm r sqlite3
          npm i -D @vscode/sqlite3
        if: ${{ matrix.knex == '^1.0.0' }}

      - name: Run tests
        run: npm test
